from datetime import date
import os

#BASE_URL = "https://bettenboerse.letztegeneration.de"
BASE_URL = "http://localhost:5000"
FLASK_SECRET_KEY = os.urandom(64)

DB_LOCATION = "sqlite:///unterkünfte.db"
if "DB_LOCATION" in os.environ:
    DB_LOCATION = os.environ["DB_LOCATION"]

USER = "lg"
# poetry run python
# from werkzeug.security import generate_password_hash
# generate_password_hash("lg")
PASSWORD_HASH = 'scrypt:32768:8:1$rIbiu43ISe1vZiZ6$c57cde3a346056ff1949b35aa348fa886ae0fb7e34d3624bf5f2367cf9b7d1c9feaeed0291faf4250c19e1c88b283ebcf6e652a40abe4886abe08852d6a754a6'

start_date = date(year=2022, month=6, day=17)
end_date = date(year=2022, month=9, day=18)

phone_shelter_support = ""
phone_vor_ort_support = ""
phone_ea = ""
phone_logistics = ""

# backend software: https://github.com/bbernhard/signal-cli-rest-api
# SIGNAL_CLI_API_URL = "http://bettenboerse-signal:8080"
SIGNAL_CLI_API_URL = "http://localhost:8080"
SIGNAL_CLI_PHONE_NUMBER = "+49123456"
