<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


    {% if self.title() %}
        <title>BB {% block title %}{% endblock %}</title>
    {% else %}
        <title>Letzte Generation - Bettenbörse</title>
    {% endif %}
  </head>
  <body>

      <div class="container">


&nbsp;
<nav>
<div class="text-center">
    <img src="/static/header-logo.png" style="background-color: black;", class="img-fluid">
  <h1>Letzte Generation - Bettenbörse</h1>
</div>
  <a href="{{ url_for('add_shelter') }}">Schlafplatz anbieten</a> | 
{% if session['logged_in'] %}
  <a href="{{ url_for('signal_index') }}">Signal</a> |
  <a href="{{ url_for('show_warnings') }}">Hinweise</a> |
  <a href="{{ url_for('list_menschen') }}">Menschen verwalten</a>
  </br>
  <a href="{{ url_for('list_shelters') }}">Unterkünfte verwalten</a> |
  <a href="{{ url_for('find_shelter') }}">Unterkunft finden</a> |
  <a href="{{ url_for('overview') }}">Unterkünfte Übersicht</a> | 
  <a href="{{ url_for('show_reservations') }}">Reservierungen anzeigen</a> |
  <a href="{{ url_for('show_map') }}">Karte anzeigen</a> 
{% else %}
  <a href="{{ url_for('login') }}">Login</a>
{% endif %}
</nav>
<hr>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=true) %}

      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        {{ message }}
      </div>
  {% endfor %}


  {% if form and form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  
  {% block content %}{% endblock %}


</section>



</div> <!-- container -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% block more_script %}{% endblock %}

  </body>
</html>


