{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Schlafplatz anbieten{% endblock %}</h3>
  Ab dem 18. Juni finden Straßenblockaden der Letzten Generation in Berlin statt. Mehrere hundert Menschen gehen auf die Straßen und Fordern: Stoppt den fossilen Wahnsinn! - keine Öl-Bohrungen in der Nordsee! - keine Finanzierung neuer fossiler Infrastruktur! </br>

</br>
{% endblock %}


{% block content %}


{% if form.errors %}
<strong>Fehler bei der  Eingabe:</strong></br>
{% for field, error in form.errors.items() %}
{{ error }} ({{ field }})</br>
{% endfor %}
</br>
{% endif %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class_="form-control") }}
    </div>
      
    <div class="form-group">
        {{ form.pronoun.label }}
        {{ form.pronoun(class_="form-control", placeholder="z. B. er/sie") }}
    </div>
    
    <div class="form-group">
        {{ form.telephone.label }}
        {{ form.telephone(class_="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.address.label }}
        {{ form.address(class_="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.keys.label }}
        {{ form.keys(class_="form-control", rows=3) }}
    </div>
    
    <div class="form-group">
        {{ form.rules.label }}
        {{ form.rules(class_="form-control", rows=8) }}
    </div>
    
    <div class="form-group">
        {{ form.sleeping_places_basic.label }}
        {{ form.sleeping_places_basic(class_="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.sleeping_places_luxury.label }}
        {{ form.sleeping_places_luxury(class_="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.date_from_june.label }}
        {{ form.date_from_june(class_="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.date_to_june.label }}
        {{ form.date_to_june(class_="form-control") }}
    </div>
    
       <button class="btn btn-primary" type="submit">Schlafplätze anbieten</button>
</form>

{% endblock %}

