{% extends 'base.html' %}

{% block header %}
  <h3>Infos zum Menschen</h3>
{% endblock %}

{% block title %}
{{ mensch.name }}
{% endblock %}

{% block content %}

<a href="{{ url_for('edit_mensch', id=mensch.id) }}">Menschen editieren</a> <br/>

</br>
<table class="table">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ mensch.name }}</td>
    </tr>
    <tr>
      <td>Zeitraum</td>
        <td>{{ mensch.date_from.strftime("%d.%m. (%a)") }}
      bis
        {{ mensch.date_to.strftime("%d.%m. (%a)") }}
      </td>
    </tr>
    <tr>
      <td>Telefon-Nr</td>
      <td>{{ mensch.telephone }}</td>
    </tr>
    <tr>
      <td>Bezugsgruppe</td>
      <td>{{ mensch.bezugsgruppe }}</td>
    </tr>
    <tr>
      <td>Bin in Berlin mit</td>
      <td>{{ mensch.follows }}</td>
    </tr>
    <tr>
      <td>Suche einen FLINTA Space mit</td>
      <td>{{ mensch.flinta }}</td>
    </tr>
    <tr>
      <td>Lebensmittelunverträglichkeiten</td>
      <td>{{ mensch.non_food }}</td>
    </tr>
    <tr>
      <td>besondere Beüdrfnisse</td>
      <td>{{ mensch.needs }}</td>
    </tr>
    <tr>
      <td>Angehörigenkontakt</td>
      <td>{{ mensch.relative }}</td>
    </tr>
    <tr>
      <td>Geburtstag</td>
      <td>{{ mensch.birthday }}</td>
    </tr>

  </tbody>
</table>


<h4>Reservierungen</h4>

<table class="table">
  <thead>
    <tr>
        <th>Datum</th>
        <th>Unterkunft</th>
    </tr>
  </thead>
  <tbody>
{% for mensch in menschen %}
    <tr>
      <td>{{ mensch.name }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


<ul>
{% for reservation in reservations %}

<li>
    {{ reservation.date.strftime("%a %d.%m.") }} <a href="{{ url_for('show_shelter', uuid=reservation.shelter.uuid, _anchor='reservierung-' + reservation.date.strftime("%d%m")) }}">{{ reservation.shelter.name  }}</a>
</li>

{% endfor %}
</ul>
        
</br>
<h4>Versendete Signal Nachrichten</h4>
    {% for log in signal_messages %}
        <strong>
            Nachricht an {{ log.mensch.name }} ({{ log.telephone }}) ({{ log.created.strftime("%a %d.%m.%Y um %H:%M:%S"  ) }})</br>
        </strong>
        {{ log.message }}</br>
            Status: 
        {% if log.status == 0 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
            </svg>
            </br>Error message:</br>
            {{ log.error }}
        {% endif %}
        </br>
        </br>
    {% endfor %}

{% endblock %}

