{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Mensch aus System entfernen?{% endblock %}</h3>
{% endblock %}


{% block content %}

{% if form.errors %}
<strong>Fehler bei der Eingabe:</strong></br>
{% for field, error in form.errors.items() %}
{{ error }} ({{ field }})</br>
{% endfor %}
</br>
{% endif %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        {{ form.submit(class_="form-control") }}
    </div>
</form>

{% endblock %}

