{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Übersicht Menschen{% endblock %}</h3>
{% endblock %}

{% block content %}
<a href="{{ url_for('create_mensch') }}">Menschen anlegen</a>
</br></br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Bezugsgruppe</th>
      <th scope="col">von</th>
      <th scope="col">bis</th>
      <th scope="col">späteste Reservierung</th>
      <th scope="col">FLINTA-Space</th>
      <th scope="col">besonere Bedürfnisse</th>
      <th scope="col">Details</th>
      <th scope="col">Editieren</th>
      <th scope="col">Löschen</th>
    </tr>
  </thead>
  <tbody>
{% for mensch in menschen %}
    <tr>
      <td>{{ mensch.name }}</td>
      <td>{{ mensch.bezugsgruppe }}</td>
      <td>{{ mensch.date_from.strftime("%d.%m.") }}</td>
      <td>{{ mensch.date_to.strftime("%d.%m.") }}</td>
      <td>{{ mensch.get_last_reservation_date()}}</td>
      <td>{{ mensch.flinta }}</td>
      <td>
      {% if mensch.needs %}
      Ja
      {% else %}
      Nein
      {% endif %}
      </td>
      <td>
            <p><a href="{{ url_for('show_mensch', id=mensch.id) }}">anzeigen</a></p>
     </td>
      <td>
            <p><a href="{{ url_for('edit_mensch', id=mensch.id) }}">editieren</a></p>
     </td>
      <td>
            <p><a href="{{ url_for('delete_mensch', id=mensch.id) }}">löschen</a></p>
     </td>
    </tr>
{% endfor %}
  </tbody>
</table>


{% endblock %}
