{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Übersicht Schlafplätze{% endblock %}</h3>
{% endblock %}

{% block more_script %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_shelter').DataTable({
                        paging: false,
                    });
        });
    </script>
{% endblock %}

{% block content %}

<table id="table_shelter" class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Adresse</th>
      <th scope="col">Schlafplätze - keine Isomatte benötigt</th>
      <th scope="col">Schlafplätze - Isomatte benötigt</th>
      <th scope="col">Editieren</th>
      <th scope="col">Details</th>
      <th scope="col">Reservierung</th>
      <th scope="col">Löschen</th>
    </tr>
  </thead>
  <tbody>
{% for shelter in shelters %}
    <tr>
      <td>{{ shelter.name }}</td>
      <td>{{ shelter.address }}</td>
      <td>{{ shelter.beds_luxury }}</td>
      <td>{{ shelter.beds_basic }}</td>
      <td>
            <p><a href="{{ url_for('edit_shelter', uuid=shelter.uuid) }}">Editieren</a></p>
     </td>
      <td>
            <p><a href="{{ url_for('show_shelter', uuid=shelter.uuid) }}">Details</a></p>
     </td>
      <td>
            <p><a href="{{ url_for('show_shelter', uuid=shelter.uuid, _anchor='reservierungen') }}">Reservierungen</a></p>
     </td>
      <td>
            <p><a href="{{ url_for('delete_shelter', uuid=shelter.uuid) }}">Löschen</a></p>
     </td>
    </tr>
{% endfor %}
  </tbody>
</table>
    


{% endblock %}
