{% extends 'base.html' %}


{% block header %}
    <h3>
    {% block title %}
        Signal
    {% endblock %}
    </h3>
{% endblock %}


{% block content %}

<a href="{{ url_for('signal_log') }}">Versendete Nachrichten anzeigen</a></br></br>

{% if account %}
hinterlegter Signal Account: {{ account['number'] }} ({{ account['name'] }})</br></br>

    <form action="" method="POST">
        {{ send_form.hidden_tag() }}
        <div class="form-group">
            {{ send_form.telephone.label }}
            {{ send_form.telephone(class_="form-control") }}
        </div>
        
        <div class="form-group">
            {{ send_form.message.label }}
            {{ send_form.message(class_="form-control", rows=5) }}
        </div>

        <div class="form-group">
            {{ send_form.submit(class_="form-control btn btn-primary") }}
        </div>
        

    </form>
{% else %}
    
    {% if device_uri %}

        Bitte den folgenden QR Code in der Signal App scannen (Einstellungen, verlinkte Geräte)</br></br>.
        <img src="{{ qrcode(device_uri, box_size=5) }}">
        </br></br>
        Wenn das Gerät in der Signal-App hinzugefügt wurde, bitte diese Seite <a href="javascript:window.location.href=window.location.href">neu laden</a>.</br></br>
    
    {% else %}

        
         Aktuell ist kein Signal Account hinterlegt. Neuen Signal Account hinterlegen</br></br>


        <form action="" method="POST">
            {{ account_form.hidden_tag() }}
            <div class="form-group">
                {{ account_form.device_name.label }}
                {{ account_form.device_name(class_="form-control") }}
            </div>
            
            <div class="form-group">
                {{ account_form.submit.label }}
                {{ account_form.submit(class_="form-control btn btn-primary") }}
            </div>

        </form>
        
    
    {% endif %}


{% endif %}

{% endblock %}

