{% extends 'base.html' %}


{% block header %}
    <h3>
    {% block title %}
        Signal - Nachricht verschicken
    {% endblock %}
    </h3>
{% endblock %}


{% block more_script %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}

<a href="{{ url_for('signal_log') }}">Nachrichten-Log anzeigen</a></br></br>

    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="mensch">An wen soll die Nachricht verschickt werden?</label>
            <select id="select_menschen" name="mensch" class="selectpicker form-control" multiple data-live-search="true">
            {% for mensch in menschen %}
                {% if mensch.id in selected_menschen_ids %}
                    <option selected value="{{ mensch.id }}">{{ mensch.name }} ({{ mensch.bezugsgruppe }})</option>
                {% else %}
                    <option value="{{ mensch.id }}">{{ mensch.name }} ({{ mensch.bezugsgruppe }})</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            {{ form.telephone.label }}
            {{ form.telephone(class_="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.message.label }}
            {{ form.message(class_="form-control", rows=10) }}
        </div>

        <div class="form-group">
            {{ form.submit(class_="form-control btn btn-primary") }}
        </div>
        

    </form>

{% endblock %}

