{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Übersicht Unterkunft{% endblock %}</h3>
{% endblock %}

{% block content %}

{% if session['logged_in'] %}
  <a href="{{ url_for('edit_sleeping_place', uuid=sleeping_place.uuid) }}">Unterkunft editieren</a> |
  <a href="#reservierungen">Reservierungen anzeigen</a> |
{% endif %}
  <a href="#share">Unterkunft teilen</a>
</br>
</br>


<table class="table">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ sleeping_place.name }}</td>
    </tr>
    <tr>
      <td>Pronomen</td>
      <td>{{ sleeping_place.pronoun }}</td>
    </tr>
    <tr>
      <td>Telefonnummer</td>
      <td>{{ sleeping_place.telephone }}</td>
    </tr>
    <tr>
      <td>Addresse</td>
      {% if sleeping_place.longitude %}
      <td>{{ sleeping_place.address }} <a href="https://www.google.com/maps/search/{{ sleeping_place.longitude }},{{ sleeping_place.latitude }}" >(Google Maps)</a></td>
      {% else %}
      <td>{{ sleeping_place.address }} <a href="https://www.google.com/maps/search/{{ sleeping_place.address }}" >(Google Maps)</a></td>
      {% endif %}
    </tr>
    <tr>
      <td>Schlafplätze ohne Isomatte</td>
      <td>{{ sleeping_place.sleeping_places_basic }}</td>
    </tr>
    <tr>
      <td>Schlafplätze mit Isomatte</td>
      <td>{{ sleeping_place.sleeping_places_luxury }}</td>
    </tr>
    <tr>
      <td>Zeitraum</td>
      {% if sleeping_place.date_from_june %}
        <td>{{ sleeping_place.date_from_june.strftime("%d.%m. (%a)") }}
      {% else %}
        <td>nicht angegeben
      {% endif %}
      bis
      {% if sleeping_place.date_to_june %}
        {{ sleeping_place.date_to_june.strftime("%d.%m. (%a)") }}
      {% else %}
        nicht angegeben</td>
      {% endif %}
      {% if sleeping_place.date_from_june and sleeping_place.date_to_june %} 
        - {{ (sleeping_place.date_to_june - sleeping_place.date_from_june).days }} Tage
      {% endif %}
      </td>
    </tr>

  </tbody>
</table>

Zugang zur Wohnung
<textarea class="form-control" readonly rows=3>
{{ sleeping_place.keys }}
</textarea>
Hausregeln
<textarea class="form-control" readonly rows=5>
{{ sleeping_place.rules }}
</textarea>
LG interner Kommentar
<textarea class="form-control" readonly rows=3>
{% if sleeping_place.lg_comment %}{{ sleeping_place.lg_comment }}{% endif %}
</textarea>
&nbsp;

{% if session['logged_in'] %}

<hr>
<div id="reservierungen"> <h4>Belegung - Wer schläft hier?</h4> </div>
<table class="table">
  <thead>
    <tr>
        <th>Tag</th>
        <th>Datum</th>
        <th>belegte Betten</th>
        <th>Betten insgesamt</th>
        <th>Reservierung ändern</th>
        <th>Wer schläft da?</th>
    </tr>

  </thead>
  <tbody>
{% for date, reservation in reservations.items() %}
    <tr id="reservierung-{{ date.strftime("%d%m") }}">
        <td>{{ date.strftime("%a") }}</td>
        <td>{{ date.strftime("%d.%m.") }}</td>
    {% if reservation %}
        <td>
            {{ reservation.used_beds }}
        </td>
        <td>
            {{  sleeping_place.sleeping_places_basic + sleeping_place.sleeping_places_luxury}}
        </td>
    {% else %}
        <td>
            0
        </td>
        <td>
            {{  sleeping_place.sleeping_places_basic + sleeping_place.sleeping_places_luxury}}
        </td>
    {% endif %}
    <td>
        <a href="{{ url_for('edit_reservation', uuid=sleeping_place.uuid, date=date.strftime("%d.%m.%Y")) }}">ändern</a>
    </td>
    {% if reservation %}
        <td>{{ reservation.names }}</td>
    {% else %}
        <td//td>
    {% endif %}
    </tr>
{% endfor %}

  </tbody>
</table>

{% endif %}



<hr>
<h4 id="share" >Wohnung teilen</h4>
Menschen müssen eingeloggt sein, um die Reservierungen zu sehen.</br>
Link zur Wohnung:
<div class="alert alert-primary">
{{ base_url + url_for('show_sleeping_place', uuid=sleeping_place.uuid) }}
</div>

Link zur Wohnung (QR-Code):
<br>
<img src="{{ qrcode(base_url + url_for('show_sleeping_place', uuid=sleeping_place.uuid), box_size=5 ) }}">
<br>
&nbsp;

{% endblock %}


