{% extends 'base.html' %}

{% block header %}
  <h3>Übersichten</h3>
{% endblock %}

{% block title %}
Betten-Übersicht
{% endblock %}

{% block content %}

<a href="{{ url_for('plot_calendar') }}">Kalendar Plot</a></br>
<a href="{{ url_for('hist_betten') }}">Übersicht Betten</a></br>

</br>

Wann stehen welche Betten zur Verfügung?
<pre>
{% for shelter in shelters %}
{{ shelter }}{% endfor %}
</pre>

Wann sind wie viele Betten belegt?
<pre>
{% for day,data in beds.items() %}
{{ day.strftime("%a %d.%m.") }}  {{ data['used_beds'] }}/{{ data['beds_total'] }} Betten belegt, {{ data['menschen_on_site'] }} Menschen sind vor Ort {% endfor %}
</pre>


{% endblock %}
